#DRYRUN=true
#IP_LOOKUP_ADD=icanhazip.com
#DNS_LOOKUP_SERVER=localhost
#DNS_API_PROTOCOL=https
#DNS_API_SERVER=localhost
#DNS_API_PORT=443
#DOMAIN=$(hostname --domain)
#HOST=$(hostname --short)
#DNS_API_TOKEN=<your-api-key>
#USE_TAILSCALE=false
