IP_LOOKUP_ADD=icanhazip.com
DNS_LOOKUP_SERVER=ns1.1stcall.uk
DNS_API_PROTOCOL=https
DNS_API_SERVER=ns1.1stcall.uk
DNS_API_PORT=443
DOMAIN=1stcall.uk
HOST=rpicm4-1
DRYRUN=false
DNS_API_TOKEN=<api-key>
USE_TAILSCALE=false
